# Виртуальное окружение
.venv/

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Кэш VS Code
.vscode/

# Логи
*.log

# Временные файлы
*.tmp

# Результаты обучения
runs/
results/

# Модели
*.pt
*.pth
*.onnx

# Большие датасеты
dataset/VisDrone2019-DET-train/
dataset/VisDrone2019-DET-val/

# Системные файлы
.DS_Store
Thumbs.db